@keyframes scroll {
    0% { transform: translate(0, 0) }
    100% { transform: translate(-100%, 0) }
}

@keyframes bounce {
  0% { transform: scale(1) }
  50% { transform: scale(1.2)}
  100% { transform: scale(1) }
}

@keyframes dark_menu_hide {
  0%{ opacity: 0.35 }

  100%{ opacity: 0 }
}

@keyframes dark_menu_show {
  0%{ opacity: 0 }

  100% { opacity: 0.35; z-index: 90000 }
}

.red{
  width: 30px;
  height: 30px;
  background-color: red;
}



*{ margin: 0 }

*::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 12px;
  cursor: pointer;
}

*::-webkit-scrollbar{
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: #eae7a3cf;
}

*::-webkit-scrollbar-track-piece{
  background-color: #ffffff4a;
}

body{
  margin: 0;
  background-color: #26384f;
  color:white;
  font-family: 'Exo 2', sans-serif;
}

/*
#F2EEA7 - yellow
#344a68 - blue ultra light
#071c2f - blue dark
#202f42 - blue shit
#26384f - blue
*/

.grid_layout_inner{
  display:grid;
  grid-auto-rows: 100%;
  grid-auto-columns: 100%;
}

.grid_layout_element{
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.hide{ display: none }

.hide_opacity{ opacity: 0 !important }

.hide_side_menu{ transform: translateX(-100%) }

.hide_dark_menu_part{
  animation: dark_menu_hide 0.25s 1 linear;
  animation-fill-mode: forwards;
}

.show_dark_menu_part{
  animation: dark_menu_show 0.25s 1 linear;
  animation-fill-mode: forwards;
}

.row{ display: flex }

.center{
  display: flex;
  justify-content: center;
}

.reverse{
  display: flex;
  flex-direction: row-reverse;
}

.align{ align-items: center }

.column{
  display: flex;
  flex-direction: column;
}

.space_between{
  display: flex;
  justify-content: space-between;
}

.fixed{
  position: fixed;
  z-index: 1000;
}

.whole_page{
  width: 100%;
  height: 100%;
  position: fixed;
}

.half{ width: 50% }

.fill_available{ width: -webkit-fill-available }


#app{
  position: absolute;
  display: flex;
  width: 100%;
}

.menu{
  z-index: 100000;
  position: fixed;
  height: 100%;
  background-color: #12293d;
  width: 30%;
  transition: 0.25s linear;
  display: flex;
  flex-direction: column;
}

.menu_dark_back{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  z-index: -100;
  opacity: 0;
  transition: 0.25s linear;
}

.menu_link{
  font-weight: bold;
  width: -webkit-fill-available;
  padding: 1rem 1.5rem;
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
  transition: 0.15s linear;
}

.menu_link:hover{
  background-color: #1a3752;
}


.menu_icon{ transition: 0.15s linear }

.menu_icon::before{ display: none }

#plusIcon{
  background: no-repeat center/45%;
  background-image: url("/file?path=icons\\plus.svg");
}

#trashIcon{
  background: no-repeat center/56%;
  background-image: url("/file?path=icons\\trash.svg");
}

#editIcon{
  background: no-repeat center/50%;
  background-image: url("/file?path=icons\\draw.svg");
}

.player{
  padding: 1.3em;
  position: fixed;
  width: -webkit-fill-available;
  height: fit-content;
  background-color: #071c2f;
  border-bottom: 4px solid #f2eea79e;
  z-index: 1000;
}

.third_of_player{
  min-width: 33%;
  max-width: 33%;
  min-height: 5rem;
  max-height: 5rem;
  overflow: hidden;
}

.poster{
  background-color: #26384f;
  width: 75px;
  height: 75px;
}

.track_title_and_author{
  width: -webkit-fill-available;
  margin-left: 1rem;
}

.player_text{
  max-width: 90%
}

.link_title_text{ font-size: 1.3em }

h1, h2{
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
}

h1{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

h2{
  font-size: 1rem;
  opacity: 0.6;
  font-weight: 500;
}



.main_player_buttons_inner{
  margin: 0 auto;
  width: fit-content;
}

.button{
  cursor: pointer;
  appearance: none;
  border: none;
  background: no-repeat center/45%;
  background-color: inherit;
  min-width: 3rem;
  min-height: 3rem;
  max-width: 3rem;
  max-height: 3rem;
}

.button::before{
  position: absolute;
  content: '';
  background-color: white;
  border-radius: 100%;
  opacity: 0;
  width: 3em;
  height: 3em;
  transition: 0.1s linear;
}

.button:active::before{
  opacity: 0.6;
}

.skip_song_button{
  margin: 0 0.7rem;
  transform: scale(0.8);
  background-image: url("/file?path=icons\\skipSongButton.svg");
}

.play_button{
  background: no-repeat center/40%;
  background-image: url("/file?path=icons\\playButton.svg");
}

.play_button:active::before{
  transform: translateX(-2px);
}

.pause_button{
  background: no-repeat center/40%;
  background-image: url("/file?path=icons\\pauseButton.svg");
}

.track_time{ margin-bottom: 2px }

.time{
  cursor: default;
  opacity: 0.65;
  width: 3.3rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}

.current_time_changer{ margin: 0 1.5rem }



.secondary_player_buttons_inner{ padding-right: 0.5em }

.volume_changer{ margin-left: 0.2rem }

.secondary_player_button, .mute_button{ opacity: 0.6 }

.mute_button{
  background-image: url("/file?path=icons\\muteButton.svg");
}

.volume_button{
  background-image: url("/file?path=icons\\volumeButton.svg");
}

.restart_button{
  background: no-repeat center/42%;
  background-image: url("/file?path=icons\\restartButton.svg");
}

.restart_button_active{
  opacity: 1;
  background: no-repeat center/42%;
  background-image: url("/file?path=icons\\restartButtonActive.svg");
}

.random_button{
  background-image: url("/file?path=icons\\randomButton.svg");
}

.random_button_active{
  opacity: 1;
  background-image: url("/file?path=icons\\randomButtonActive.svg");
}

.info_button{
  background: no-repeat center/50%;
  margin: 0 5px;
  background-image: url("/file?path=icons\\info.svg");
}


ol{
  padding: 0;
  list-style-type: none;
}

.track_list{
  width: 100%;
  height: fit-content;
  margin-top: 10rem;
  margin-bottom: 6rem;
  height: fit-content;
}

li{}

.track_link{
  cursor: pointer;
  transition: 0.15s ease-in;
  width: 90%;
  background-color: #071c2f;
  padding: 1rem 1.5rem;
}

.track_link:hover{ background-color: #071c2fb5 }

.track_link_active{
  color: #202f42;
  background-color: #d2cfa6;
}

.track_link_active:hover{ background-color: #d2cfa6 }

.track_link_info{

}

.null_poster{
  width: 40px;
  height: 40px;
  padding: 17.5px;
}

.poster_shadow{ box-shadow: 0px 0px 17px 2px rgb(34 60 80 / 20%) }

.ball{
  border-radius: 100%;
  width: 1.2em;
  height: 1.2em;
  background-color: #071c2f;
  transition: 0.15s linear;
}

.play_ball{
  animation: bounce 0.5s infinite linear;
}

.pause_ball{
  border-radius: 0%;
}

.track_menu_open_button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 1.2em;
  min-height: 1.2em;
}

.track_menu_open_button::before{
  width: 1.2em;
  height: 1.2em;
  padding: 0.5em;
  margin-top: -0.5em;
}

.menu_button_ball{
  width: 0.3em;
  height: 0.3em;
  background-color: #d2cfa6;
}

.checked_link{ background-color: #071c2fb5 }

.checkbox{
  width: 2em;
  height: 2em;
  border: 3px solid #74808b;
  border-radius: 3px;
  transition: 0.15s linear;
}

.checkbox::before{
  content: '';
  transform: scale(0);
  position: absolute;
  width: 2em;
  height: 2em;
  background: no-repeat center/50%;
  background-image: url("/file?path=icons\\check.svg");
  transition: 0.1s linear;
}

.checkbox_active{
  border: 3px solid #f2eea7;
}

.checkbox_active::before{
  transform: scale(1);
}

.delete_mode_button_inner{
  bottom: 15px;
  width: 100%;
}

.trashlist_button{
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: white;
  color: #071c2f;
  text-transform: uppercase;
  width: fit-content;
  padding: 0.9rem 1.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s linear;
}

.trashlist_button:active{
  transition: none;
  opacity: 0.9;
}

.trashlist_button:hover{
  background-color: #d83131;
  color: #00000000;
}


.trashlist_button::before{
  transform: scale(0);
  position: absolute;
  content: '';
  background-color: #00000000;
  background: no-repeat center/100%;
  background-image: url("/file?path=icons\\trash.svg");
  width: 1.5rem;
  height: 1.5rem;
  z-index: 10000;
  transition: 0.15s linear;
}

.trashlist_button:hover::before{
  transform: scale(1);
}

#backFromDeleteMode{
  margin-left: 2rem;
}

#backFromDeleteMode::before{
  background-image: url("/file?path=icons\\back.svg");
}

#backFromDeleteMode:hover{
  background-color: #4848c3;
}

.alerter_inner{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 1.5rem;
}

.alerter{
  width: fit-content;
  text-align: center;
  font-size: 1.5rem;
  z-index: 100000;
  padding: 0.3em 5em;
  margin: 0 auto;
  color: #1c1c1c;
  background-color: #e2e2e2;
  border-radius: 30px;
  box-shadow: 12px -1px 22px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  transition: 0.15s linear;
}

.edit_field_inner{
  transform: scale(0);
  transition: 0.25s linear;
}

.edit_field{
  width: 45%;
  max-height: 85%;
  overflow: hidden;
  /*background-color: #12293d;  #071c2f*/
  background-color: #12293d;
  padding: 3rem 0;
}

.edit_show{
  z-index: 100000;
  transform: scale(1);
}

.menu_poster_inner{
  max-width: 10rem;
  max-height: 10rem;
  overflow: hidden;
}

.menu_poster{
  width: 10rem;
}

.poster_add_hover{
  opacity: 0.6;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: no-repeat center/33%;
  background-image: url("/file?path=icons\\draw.svg");
  background-color: black;
  transition: 0.1s linear;
}

.track_text_edit_inner{
  width: 70%;
  margin-top: 3rem;
  font-size: 1.3rem;
}

.track_text_edit_tag{
  margin-right: 2rem;
}

.track_edit_text_input{
  appearance: none;
  border: none;
  font-family: 'Exo 2', sans-serif;
  background: #00000000;
  color:#ffffffa8;
  caret-color: #f2eea7;
  border-bottom: 2px solid #ffffffa8;
  font-size: 0.9em;
  outline: none;
  text-align: center;
  transition: 0.15s linear;
  padding: 3px 0;
  margin-bottom: 4px;
}

.track_edit_text_input:focus{
  color: white;
  border-bottom: 2px solid #f2eea7;
}

.save_changes_button{
  font-size: 1.4rem;
  margin-top: 3rem;
  font-weight: 500;
  color: black;
  background-color: white;
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.15s linear;
}

.save_changes_button:hover{
  background-color: #f2eea7;
  color: #071c2f;
}






.range_input_inner{
  border-radius: 10px;
  background-color: #ffffff4a;
  width: -webkit-fill-available;
  height: 8px;
}

.range_progress_fiction{
  height: 8px;
  width: 0%;
  border-radius: 10px;
  background-color: #F2EEA7;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
}


input[type=range] {
  background-color: #00000000;
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  border-radius: 10px;
  margin: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb{
  transition: 0.15s linear;
  border: 0;
  margin-top: -2px;
}

input[type=range]:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  border-radius: 100%;
  border: 3px solid #F2EEA7;
  background-color: #26384f;
  cursor: pointer;
}

input[type=range]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.marquee {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 5s infinite linear;
}
